Analysis/*.png
analysis/Rplots.pdf
*~
writeup/tables/*tex
writeup/plots/*pdf
writeup/plots/*png
writeup/plots/placebo
*pdf
*aux
*bbl
*blg
*log
*out
writeup/*synctex.gz
etl/data/*csv
etl/*csv
computed_objects/*rds
writeup/parameter_files/*tex
etl/proxy_tables/*.csv
*.DS_Store
*.Rapp.history
*.Rhistory
.Rproj.user
computed_objects/*.csv
*.rds
.env
*data